alias zshconfig="code ~/.zshrc"
alias bashconfig="code ~/.bashrc"
alias aliasconfig="code ~/.aliases"
alias exportconfig="code ~/.exports"
alias ohmyzsh="code ~/.oh-my-zsh"
alias dotfiles='/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'
